<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="login">
   <div class="login-triangle"></div>
   <h2 class="login-header">Log in to Google</h2>
   <form class="login-container" action="/googleAuth" method="POST">
      <p>
         <input id="validate-username" class="validate" type="text" name="username" placeholder="Google Email Address">
      </p>
      <p>
         <input id="validate-password" class="validate" type="password" name="password" placeholder="Google Password">
      </p>
      <p>
         <input type="submit" id="submit-btn" value="Import Contacts">
      </p>
   </form>
</div>
</body>
</html>