<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <title>Salesforce to Google Contacts</title>
</head>
<body>
<div class="logo">
    <img src="\images\biit-transparent.png" alt="biit-logo-transparent">
</div>
<div class="right-corner">
    <img src="\images\icons-corner-blue.svg" alt="biit-logo-transparent">
</div>
<div class="left-corner">
    <img src="\images\icons-corner-turquoise.svg" alt="biit-logo-transparent">
</div>
<div class="login">
   <div class="login-container">
       <h1>Import Complete</h1>
   </div>
</div>
</body>
</html>


